{% load static %}
<!DOCTYPE html>
<html lang="">
<body>
			<!-- Footer -->
				<div id="footer-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-8 col-12-medium">

								<section>
									<h2>Links de interés</h2>
									<div>
										<div class="row">
											<div class="col-4 col-6-medium col-12-small">
												<ul class="link-list">
													<li><a href="https://comprar.gob.ar/" target="_blank">COMPR.AR</a></li>
													<li><a href="https://www.argentinacompra.gov.ar/" target="_blank">Oficina Nacional de Contrataciones</a></li>
												</ul>
											</div>
											<div class="col-4 col-6-medium col-12-small">
												<ul class="link-list">
													<li><a href="https://www.undef.edu.ar/">Universidad de la Defensa</a></li>
													<li><a href="https://www.fie.undef.edu.ar/">Facultad de ingeniería del Ejército</a></li>
												</ul>
											</div>
											<div class="col-4 col-6-medium col-12-small">
												<ul class="link-list">
													<li><a href="#">Gobierno de la República Argentina</a></li>
													<li><a href="https://www.argentina.gob.ar/educacion">Ministerio de Educación</a></li>
												</ul>
											</div>
										</div>
									</div>
								</section>

							</div>
							<div class="col-4 col-12-medium">

								<section>
									<h2>Encontró un error?</h2>
									<p>Este sitio ha sido desarrollado como proyecto de la carrera de Ingeniería Informática y es mantenido y administrado por su desarrollador. Ayúdenos a mejorarlo informando si encuentra algún error o si tiene alguna sugerencia.</p>
									<footer class="controls">
										<a href="{% url 'contacto' %}" class="button">Por favor, comuníquese con nosotros</a>
									</footer>
								</section>

							</div>
						</div>
						<div class="row">
							<div class="col-12">

								<div id="copyright">
									Ingeniería de Software Avanzado. | Desarrollado por: Agustin Nicolas Alfonso</a>
								</div>

							</div>
						</div>
					</div>
				</div>

		</div>
</body>
</html>