{% load static %}
<!DOCTYPE HTML>
<html lang="">
    {% include "header.html" %}

			<!-- Banner -->
				<div id="banner-wrapper">
					<div class="container">

						<div id="banner">
							<h2>Bienvenido al gestor de licitaciones online !</h2>
							<span>Una herramienta, mil soluciones.</span>
						</div>

					</div>
				</div>

			<!-- Main -->
				<div id="main">
					<div class="container">
						<div class="row main-row">
							<div class="col-6 col-12-medium">

								<section>
									<h2>Bienvenido !</h2>
									<p>Éste es el <strong>Gestor de Licitaciones</strong>, una potente herramienta gratuita basada en la web y diseñada por <a href="https://www.linkedin.com/in/agustin-nicolas-a-b34b76a0/">Agustin Nicolas Alfonso</a> para la gestión de sus procesos de compra públicos.</p>
									<footer class="controls">
										<a href="contacto" class="button">Contacte al desarrollador...</a>
									</footer>
								</section>

							</div>
							<div class="col-6 col-12-medium">

								<section>
									<h2>Nuestro team !</h2>
									<ul class="small-image-list">
										<li>
											<img src="{% static "images/agus_profile.jpg" %}" class="left"/>
											<h4>Agustin Nicolas Alfonso</h4>
											<p>Estudiante del último año de la carrera de Ingeniería Informática en FIE - UNDEF.</p>
										</li>
										<li>
											<img src="{% static "images/elvira.png" %}" class="left"/>
											<h4>Elvira Quiroga</h4>
											<p>Profesora de la materia "Proyecto de Promoción y Síntesis" en FIE - UNDEF.</p>
										</li>
										<li>
											<img src="{% static "images/nico_profile.jpg" %}" class="left"/>
											<h4>Nicolás Díaz Pais</h4>
											<p>Profesor de la materia "Ingeniería de Software Avanzado" en FIE - UNDEF.</p>
										</li>
									</ul>
								</section>

							</div></div>
							<div class="col-6 col-12-medium">

								<section>
									<h2>Una solución única en su tipo</h2>
									<p>El <strong>Gestor de Licitaciones</strong> es la solución perfecta para cualquier empresa o persona
										que esté interesada en los procesos de compra del Estado Nacional Argentino. Ésta poderosa herramienta
										le permitirá manejar un usuario único sobre el cual podrá estar enterado de los últimos procesos licitatorios,
										seleccionar las ofertas de interés, agendar fechas de apertura en su calendario de Google Calendars de manera
										automática y administrar toda su documentación relacionada a cada proceso licitatorio de manera simple,
										organizada y segura. </p>
									<ul class="big-image-list">
										<li>
											<a href="#"><img src="{% static "images/busqueda.jpg" %}" alt="" class="left" /></a>
											<h3>Busqueda Sencilla</h3>
											<p>Esta herramienta le permitirá realizar búsquedas personalizadas de sus ofertas
											de interés de manera rápida y sencilla. De esta forma, podrá obtener toda la información
											que necesite al instante y seleccionar las ofertas de interés.</p>
										</li>
										<li>
											<a href="#"><img src="{% static "images/almacenamiento.jpg" %}" alt="" class="left" /></a>
											<h3>Almacenamiento en la nube</h3>
											<p>Almacene todos los documentos relacionados a sus procesos licitatorios, ya sea de etapa de análisis,
												oferta, adjudicación, entrega de servicio/insumos, facturación de manera segura en la nube.
												Al registrarse de manera gratuita, podrá acceder acceder a un total de 2GB de almacenamiento
											gratuito de sus archivos, con la posibilidad de acceder a una extensión a través de una suscripción.</p>
										</li>
										<li>
											<a href="#"><img src="{% static "images/seguridad.jpg" %}" alt="" class="left" /></a>
											<h3>Su información bien resguardada</h3>
											<p>El <strong>Gestor de Licitaciones</strong> aplica las mejores prácticas de seguridad para que sus usuarios
												puedan utilizar esta herramienta como un método confiable y seguro sobre el cual almacenar su información,
											evitando el transporte de información a través de emails, whatsapp, documentos físicos u otros medios. Centralice
											el almacenamiento del total de la documentación relacionada a sus licitaciones sin que pexternos tengan acceso
											a ella.</p>
										</li>
									</ul>
								</section>

							</div>
							<div class="col-6 col-12-medium">

									<h2>Cómo empezar con el Gestor de Licitaciones Online?</h2>
									<p>El <strong>Gestor de Licitaciones</strong> es la solución perfecta para cualquier empresa o persona
										que esté interesada en los procesos de compra del Estado Nacional Argentino. Ésta poderosa herramienta
										le permitirá manejar un usuario único sobre el cual podrá estar enterado de los últimos procesos licitatorios,
										seleccionar las ofertas de interés, agendar fechas de apertura en su calendario de Google Calendars de manera
										automática y administrar toda su documentación relacionada a cada proceso licitatorio de manera simple,
										organizada y segura. Descubra cómo utilizar ésta herramienta en la documentación completa de usuario.</p>
									<footer class="controls">
										<a href="documentacion" class="button">Ver documentación completa</a>
									</footer>

							</div>
						</div>
					</div>
				</div>
{% include "footer.html" %}
</html>